@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
 <!-- Bootstrap core CSS     -->
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<!-- Animation library for notifications   -->
<link href="~/assets/css/animate.min.css" rel="stylesheet" />
<!--  Paper Dashboard core CSS    -->
<link href="~/assets/css/paper-dashboard.css" rel="stylesheet" />

<!--  CSS for Demo Purpose, don't include it in your project     -->
<link href="~/assets/css/demo.css" rel="stylesheet" />

<div class="col-md-6">
    <div class="card ">
        <div class="header">
            <h4 class="title">@DateTime.Now.Year </h4>
            <p class="category">All Webhooks Request</p>
        </div>
        <div class="content">
            <div id="chartActivity" class="ct-chart"></div>
            <div class="footer">
                <div class="chart-legend">
                    <i class="fa fa-circle text-info"></i> Request
                </div>
                <hr>
                <div class="stats">
                    <i class="ti-check"></i> Webhooks Request
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card ">
        <div class="header">
            <h4 class="title">@DateTime.Now.Year</h4>
            <p class="category">All Url Request</p>
        </div>
        <div class="content">
            <div id="chartMusic" class="ct-chart"></div>
            <div class="footer">
                <div class="chart-legend">
                    <i class="fa fa-circle text-info"></i> Request
                </div>
                <hr>
                <div class="stats">
                    <i class="ti-check"></i> Url Request
                </div>
            </div>
        </div>
    </div>
</div>
